[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
flask = "*"
faiss-cpu = "*"
speechrecognition = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-huggingface = "*"
sentence-transformers = "*"
pypdf = "*"
langchain-pinecone = "*"
python-dotenv = "*"

# Force CPU-only PyTorch
torch = {version = "==2.2.2+cpu", index = "pypi", extras = ["cpu"]}
torchvision = {version = "==0.17.2+cpu", index = "pypi"}
torchaudio = {version = "==2.2.2+cpu", index = "pypi"}

[dev-packages]

[requires]
python_version = "3.12"
